*{
    background-color: black;
}

#right>img{
    width:100%;
    height:80%;
   
}

nav{
    background-color: black;
    align-items: center;
    justify-content: space-around;
}
nav ul li a{
    color:black;
    color:white;
 }
nav ul{
    display:flex;
    justify-content: center;
    
 }
 nav ul li{
    list-style: none;
    margin:0 20px;
    font-size: 1.1rem;
 }
nav ul li four{
    width:100%;
    height:100%;
    background-color: black;
}
nav right>one{
    background-color: black;
}

/* #page3>page3-upper>img{
    height:100%;
    width:100%;
    background-color: black;
} */
#container{
    background-color: black;
    color:white;
    font-weight:lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#container>img{
    width:100%;
    height:100%;
}

